@model WebAppLibros.Models.Libro

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Libro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label asp-for="Titulo" style="font-weight: bold;" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="CantidadCopias" style="font-weight: bold;" class="control-label"></label>
                <input asp-for="CantidadCopias" class="form-control" />
                <span asp-validation-for="CantidadCopias" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="CantidadPags" style="font-weight: bold;" class="control-label"></label>
                <input asp-for="CantidadPags" class="form-control" />
                <span asp-validation-for="CantidadPags" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="IdEstado" style="font-weight: bold;" class="control-label"></label>
                <select asp-for="IdEstado" class="form-control" asp-items="ViewBag.IdEstado"></select>
            </div>
            <div class="form-group mb-2">
                <label asp-for="IdIdioma" style="font-weight: bold;" class="control-label"></label>
                <select asp-for="IdIdioma" class="form-control" asp-items="ViewBag.IdIdioma"></select>
            </div>
            <div class="form-group mb-2">
                <label asp-for="IdCalificacion" style="font-weight: bold;" class="control-label"></label>
                <select asp-for="IdCalificacion" class="form-control" asp-items="ViewBag.IdCalificacion"></select>
            </div>
            @* foto *@
            <div class="form-group mb-2">
                <label asp-for="Foto" style="font-weight: bold;" class="control-label"></label>
                <img id="imagen" src="" class="rounded-circle img-thumbnail"
                     style="max-width: 100px; max-height: 100px; display: none;" asp-append-version="true" />
                <input type="file" id="seleccionImg" name="imagen" class="form-control" accept="image/jpg" />
            </div>
            <div class="form-group mb-2">
                <label for="autoresSeleccionados" style="font-weight: bold;">Seleccionar autores</label>
                @if (ViewBag.Autores != null)
                {
                    @foreach (var autor in ViewBag.Autores)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="@autor.Value" name="autoresSeleccionados[]" id="autor_@autor.Value">
                            <label class="form-check-label" for="autor_@autor.Value">@autor.Text</label>
                        </div>
                    }
                }
            </div>
            <div class="form-group mb-3">
                <label for="categoriasSeleccionadas" style="font-weight: bold;">Seleccionar categorías</label>
                @if (ViewBag.Categorias != null)
                {
                    @foreach (var categoria in ViewBag.Categorias)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="@categoria.Value" name="categoriasSeleccionadas[]" id="categoria_@categoria.Value">
                            <label class="form-check-label" for="categoria_@categoria.Value">@categoria.Text</label>
                        </div>
                    }
                }
            </div>
            <div class="form-group mb-4">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<form asp-action="ImportarCsv" enctype="multipart/form-data" method="post">
    <div class="form-group mb-3">
        <label class="control-label" style="font-weight: bold" for="importCsv">Seleccione archivo CSV para importar libros</label>
        <br />
        <input type="file" id="importCsv" name="csvFile" accept=".csv" class="form-control" />
    </div>
    <div class="form-group mb-3">
        <input type="submit" value="Importar CSV" class="btn btn-primary" />
    </div>
</form>
<form asp-action="ImportarExcel" enctype="multipart/form-data" method="post">
    <div class="form-group mb-3">
        <label class="control-label" style="font-weight: bold" for="importExcel">Seleccione archivo EXCEL para importar libros</label>
        <br />
        <input type="file" id="importExcel" name="excelFile" accept=".xlsx, .xls" class="form-control" />
    </div>
    <div class="form-group mb-3">
        <input type="submit" value="Importar EXCEL" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/js//preview.js"></script>
