@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Inventario de Libros</h1>
    <p>Ingresa <a href="https://localhost:7145/Libros">aquí</a> para más información.</p>
</div>
